@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .header__right {
    display: flex;
    align-items: center;
  }
  
  .header__left {
    flex: 0.5;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    color: gray;
    align-items: center;
  }
  
  .header__left > input {
    outline: none;  
    border: none;
    width: 100%;
  }

  .header__left >input:focus, textarea:focus, select:focus{
    outline: none;
}
  
  .header__right > h4 {
    margin-left: 10px;
  }